.contact {
    background: var(--color-alt-bg);;
    height: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: 'Raleway';
    padding: 80px 0;
}

.chat, .socials {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding-left: 100px;
}

.chat h2  {
    color: var(--color-primary);
    font-weight: 400;
    font-size: 2em;
    margin: 0;
}

.chat h3 {
    font-weight: 200;
    font-size: 2em;
    color: black;
    margin: 0;
}

.socials ul {
    list-style: none;
    color: black;
}

.socials ul a li > * {
    display: inline-block;
    vertical-align: middle;
}

.socials ul li span {
    padding-left: 20px;
}

.socials li {
    margin: 15px 0;
}

@media (max-width:880px) {
    .contact {
        flex-direction: column;
    }

    .chat, .socials {
        width: initial;
        padding-left: 0px;
        margin: 0 auto;
    }
    
}

@media (max-width:415px) {
    .chat h2, .chat h3 {
        font-size: 1.5rem;
    }
}