:root {
    --color-primary: #5D6294;
    --color-highlight: #94885d;
    --color-headings: #262947;
}

body {
    margin: 0;
    max-width: 100vw;
}

.container {
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}